.TravelPalCtrl {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  z-index: 11;
  opacity: 0;
  transition: opacity 0.5s;
}
.TravelPalCtrlTestEl {
  position: absolute;
  display: none;
  left: 80px;
  top: 180px;
  height: 160px;
  width: 450px;
  line-height: 20px;
  font-size: 17px;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.TravelPalCtrlTravelInfoPanel {
  position: absolute;
  visibility: hidden;
  right: 3px;
  top: 63px;
  height: 100px;
  width: 215px;
  color: #e0e0e0;
  transition: color 1s;
  background-color: rgba(0,0,0,0.8);
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px solid #404040;
  border-radius: 5px 5px 14px 14px;
}
.TravelPalCtrlCompassIconBase {
  position: absolute;
  visibility: visible;
  opacity: 0.85;
  right: 5px;
  top: 31px;
  height: 60px;
  width: 60px;
  background: url("images/gauge-base.png") ;
  background-size: contain;
}
.TravelPalCtrlCompassIcon {
  position: relative;
  visibility: visible;
  opacity: 0.5;
  right: -1px;
  top: 1px;
  height: 58px;
  width: 58px;
  background: url("images/compass-rose.png") ;
  background-size: contain;
  transition: transform 1.2s;
  transition-timing-function: linear;
}
.TravelPalCtrlTripDistTimeIcon {
  position: absolute;
  visibility: visible;
  opacity: 0.85;
  right: 141px;
  top: 26px;
  height: 70px;
  width: 70px;
  background: url("images/gauge-base.png");
  line-height: 27px;
  text-align: center;
  letter-spacing: 0;
  color: inherit;
}
.TravelPalCtrlTripAverIcon {
  position: absolute;
  visibility: visible;
  opacity: 0.85;
  right: 68px;
  top: 26px;
  height: 70px;
  width: 70px;
  background: url("images/gauge-base.png");
  line-height: 27px;
  text-align: center;
  letter-spacing: 0;
  color: inherit;
}

.TravelPalCtrlSpeedLimPanel {
  position: absolute;
  display: none;
  opacity: 0.85;
  left: 17px;
  top: 180px;
  height: 160px;
  width: 60px;
}
.TravelPalCtrlSpeedLimIcon {
  position: relative;
  left: 8px;
  top: 100px;
  height: 45px;
  width: 45px;
  color: black;
  background-color: white;
  line-height: 46px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
}
.TravelPalCtrlSpeedLimImgBase {
  position: relative;
  top: -20px;
  height: 120px;
  width: 60px;
  background: url("images/speedlim-base.png");
}
.TravelPalCtrlSpeedLimImgCam {
  background: url("images/speedlim-cam.png");
}
.TravelPalCtrlMessageBar {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  left: 65px;
  top: 75px;
  height: 100px;
  width: 505px;
  color: white;
  background: -o-linear-gradient(rgba(10,10,10,0.98) 45%, rgba(150,50,30,0.98) 100%);
  background-color: rgba(10,10,10,0.98);
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #404040;
  border-radius: 10px;
}
.TravelPalCtrlSpdcamEditor {
  position: absolute;
  display: none;
  left: 72px;
  top: 122px;
  height: 50px;
  width: 495px;
  color: white;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  border-spacing: 6px;
}